.advantage {
  &__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
  }
  &__subtitle {
    max-width: 130px;
    @include tablet {
      display: none;
    }
  }
}

